.group-area-content {
    display: grid;
    grid-template-areas: "students-list students-list-right-shifter";
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 100%;
}

.students-list{
    grid-area: students-list;
}

.students-list-right-shifter{
    grid-area: students-list-right-shifter;
}